.SpellCardItem {
  border-radius: 10px;
  width: 100%;
  margin: 10px 5px 30px 5px;
  max-width: 500px;
  height: 700px;
  page-break-before: always;
  display: flex;
  flex-direction: column;
}

.SpellCardItem.All {
  background-color: black;
  border: solid 1px black;
}

.SpellCardItem.Wizard {
  background-color: red;
  border: solid 1px red;
}

.SpellCardItem.Warlock {
  background-color: red;
  border: solid 1px red;
}

.SpellCardItem.Sorcerer {
  background-color: red;
  border: solid 1px red;
}

.SpellCardItem.Cleric {
  background-color: orange;
  border: solid 1px orange;
}

.SpellCardItem.Druid {
  background-color: rgb(38, 172, 38);
  border: solid 1px rgb(38, 172, 38);
}

.SpellCardItem.Paladin {
  background-color: skyblue;
  border: solid 1px skyblue;
}

.SpellCardItem.Bard {
  background-color: rgba(130, 25, 106);
  border: solid 1px rgba(130, 25, 106);
}

.SpellCardItem.Ranger {
  background-color: rgba(98, 70, 9);
  border: solid 1px rgba(98, 70, 9);
}

.SpellCardItem.Artificer {
  background-color: rgb(218, 176, 84);
  border: solid 1px rgba(218, 176, 84);
}

.SpellCardItemName {
  background-color: white;
  margin: 10px 10px 0 10px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}

.SpellCardItemNameJP {
  font-size: 1.2rem;
}

.SpellCardItemNameEN {
  font-size: 0.8rem;
}

.SpellCardItemGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  
  color: white;
  font-size: 0.8rem;
}

.SpellCardItemGroupItemLeft {
  width: 150px;
  margin: 0 5px 0 5px;
  text-align: right;
}

.SpellCardItemGroupItemRight {
  width: 150px;
  height: 15px;
  margin: 0 5px 0 5px;
  text-align: left;
}

.SpellCardItemTypes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 0 2px 0;
}

.SpellCardItemTypesItemLeft {
  width: calc(100% / 2 - 11px);
  background-color: white;
  text-align: center;
  margin: 0 1px 0 0;
}

.SpellCardItemTypesItemRight {
  width: calc(100% / 2 - 11px);
  background-color: white;
  text-align: center;
  margin: 0 0 0 1px;
}

.SpellCardItemTypesItemTitle {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}

.SpellCardItemTypesItemValue {
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}

.SpellCardItemDesctiption {
  background-color: white;
  margin: 10px 10px 0px 10px;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  white-space: pre-wrap;
  overflow: auto;
  flex-grow: 1;
}

.SpellCardItemFooter {
  display: flex;
  flex-direction: row;
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  margin: 10px 10px 10px 10px;
  height: 30px;
}

.SpellCardItemFooterItemLeft {
  width: calc(100% / 2);
  text-align: left;
  margin-left: 10px;
}

.SpellCardItemFooterItemRight {
  width: calc(100% / 2);
  text-align: riight;
  margin-right: 10px;
}

.Policy {
  padding: 10px;
  font-size: 0.5rem;
}

